{% extends "base2.html" %}
{% load static %}
{% block content %}
<h1>Add member</h1>
{% if user.is_authenticated %}

<h1>this: {{ x.idd }} </h1>

<form action="addrecord/" method="post">
{% csrf_token %}
Title:<br>
<input name="first">
<br><br>
content:<br>
<input name="last">
<br><br>
Image:<br>
<input name="three">
<br><br>
Surname:<br>
<input name="four">
<br><br>
First Name:<br>
<input name="five">
<br><br>
Class:<br>
<input name="six">
<br><br>
Dates:<br>
<input type="text" name="seven">
<br><br>
First Name:<br>
<input name="eight">
<br><br>
<input type="submit" value="Submit">
</form>


{% else %}

<h1>Kindly login first</h1>

{% endif %}
{% endblock content %}
