{% extends "base2.html" %}
{% load static %}
{% block content %}
<nav style="background-color: #002147;" class="navbar navbar-expand-lg navbar-dark shadow-sm px-5 py-3 py-lg-0">
    <a href="/" class="navbar-brand p-0">
        <h1 class="m-0 text-uppercase text-primary"><img style="height: 80px;" src="{% static 'img/gracelogo.jpg' %}" alt=""> </i>Grace Preparatory School</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0 pe-4 border-end border-5 border-primary">
            <a href="" class="nav-item nav-link active">Home</a>
            <a href="/about/" class="nav-item nav-link">About</a>
            <a href="/accounts/login" class="nav-item nav-link">Service</a>
            <a href="contact.html" class="nav-item nav-link">Contact</a>
        </div>
        <div class="d-none d-lg-flex align-items-center ps-4">
            <i class="fa fa-2x fa-mobile-alt text-secondary me-3"></i>
            <div>
                <h5 class="text-primary mb-1"><small>Call Now</small></h5>
                <h6 class="text-light m-0">0205776640</h6>
            </div>
        </div>
    </div>
</nav>
<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
</form>



{% endblock content %}